{% extends 'base.html' %}
<!DOCTYPE html> {% load static %}
<!--remember to use when we refer to css, js, images-->


{% block breadcrumb %}
<li class="breadcrumb-item active">Upload</li>
{% endblock %} {% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>File</th>
            <th>Upload Time</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
        <a>Your Uploads:</a> {% for PdfPack in PdfPacks %}
        <tr>
            <td>
                <a href="#">{{ PdfPack.desc }}</a>
            </td>
            <td class="align-middle">{{ PdfPack.uploadTime }}</td>
            <td class="align-middle">{{ PdfPack.created_by }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}